<br><br>




<div class="col-4 m-auto">
  <div class="form-group">
    <div class="row">
      <div class="col-8">
    <input #playerName type="text" placeholder="Search Team Name" class="form-control" >

      </div>
      <div class="col-4">
        <button (click)="method(playerName.value)" class="btn btn-danger text-uppercase">search Player</button>
      </div>
    </div>
  </div>
</div>

<div class="col-8 m-auto">
  <div class="row">
    <div class="col-4 mt-1" *ngFor="let player of searchResult">
        <div class="card p-3 shadow-lg">
           <h4>{{player.fullName}}</h4>
           <h6>{{player.name}}</h6>
           <a [routerLink]="['/player',player.pid]">See More</a>
        </div>
    </div>
  </div>
</div>
