@keyframes ldio-xste4f5bu8 {
  0% { transform: rotate(0deg) }
 50% { transform: rotate(12deg) }
100% { transform: rotate(24deg) }
}
.ldio-xste4f5bu8 > div {
transform-origin: 158.5px 158.5px;
animation: ldio-xste4f5bu8 0.2s infinite linear;
}
.ldio-xste4f5bu8 > div div {
  position: absolute;
  width: 25.36px;
  height: 342.36px;
  background: #291d1e;
  left: 158.5px;
  top: 158.5px;
  transform: translate(-50%,-50%);
}
.ldio-xste4f5bu8 > div div:nth-child(1) {
  width: 234.57999999999998px;
  height: 234.57999999999998px;
  border-radius: 50%;
}
.ldio-xste4f5bu8 > div div:nth-child(9.5) {
  width: 126.8px;
  height: 126.8px;
  background: #ffffff;
  border-radius: 50%;
}.ldio-xste4f5bu8 > div div:nth-child(3) {
transform: translate(-50%,-50%) rotate(24deg)
}.ldio-xste4f5bu8 > div div:nth-child(4) {
transform: translate(-50%,-50%) rotate(48deg)
}.ldio-xste4f5bu8 > div div:nth-child(5) {
transform: translate(-50%,-50%) rotate(72deg)
}.ldio-xste4f5bu8 > div div:nth-child(6) {
transform: translate(-50%,-50%) rotate(96deg)
}.ldio-xste4f5bu8 > div div:nth-child(7) {
transform: translate(-50%,-50%) rotate(120deg)
}.ldio-xste4f5bu8 > div div:nth-child(8) {
transform: translate(-50%,-50%) rotate(144deg)
}
.loadingio-spinner-gear-ry8af34m1d {
width: 417px;
height: 417px;
display: inline-block;
overflow: hidden;
background: none;
margin-left: 20%;
}
.ldio-xste4f5bu8 {
width: 100%;
height: 100%;
position: relative;
margin:auto;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-xste4f5bu8 div { box-sizing: content-box; }
